.App-header {
  padding: 20px;
  background-color: #282c34;
  color: white;
  text-align: center;
}

.App-header h1 {
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

.Builds-section {
  padding: 20px;
}

.Builds-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Build-card {
  width: 300px;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

.Build-card h3 {
  margin-top: 0;
}

.Build-card p {
  margin-bottom: 10px;
}

.Build-card a {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #61dafb;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.Build-card a:hover {
  background-color: #42a1f5;
}

.App-footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #282c34;
  color: white;
}